$primecolor: black;
$secondcoler: red;
$thirdcolor: white;
h1{
  color:$primecolor;
}
footer {
  color: $secondcoler;
  background-color: $thirdcolor;
}
.card-deck{
  color: $primecolor;
}
nav {
  color: $secondcoler;
.nav-tabs{
  color: $secondcoler;
}
}
.card-text{
  color: $secondcoler;
.card{
  background-color:$secondcoler;
}
}
body{
  background-color: $primecolor;
}


